<!-- <div style="text-align: center; align-items: center;">
  <mat-toolbar color="primary"> TV show app </mat-toolbar>
  <div style = "background-color: aqua;">
   <br><br>
    <mat-card>
      <p> Your TV show! </p>
      <app-tvshow-search></app-tvshow-search>
    </mat-card>              
  
  <mat-card>
    
    <app-tvshow></app-tvshow>
  </mat-card>
</div>    
</div>
 -->

<mat-toolbar  color="primary">
  <div class="centeredTitle">TV Show App</div>
</mat-toolbar>
<div class = "tvsearch"> 
  <app-tvshow-search ></app-tvshow-search>
</div>
  <mat-card>
    <app-tvshow></app-tvshow>
  </mat-card>