*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Courier New', Courier, monospace;
}

.container{
 height: 800px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content:space-around;
 margin: auto;
 background:linear-gradient(to left, lightblue, lightpink )

}

img {
 height: 600px;
 width: 600px;
 border-radius: 5px;
}

.imageContainer{
 flex:1
} 

.detailContainer{
 flex:1;
 text-align: center;
 
 
}
