
<div class="container">
 <div class="imageContainer">
  <img [src] ="tvShowDetail.image"/>
 </div>
<div class="detailContainer">
<p><b>Name: </b>{{tvShowDetail.showName}}</p><br>
<p><b>Languages: </b>{{tvShowDetail.language}}</p><br>
<p><b>Genres: </b>{{tvShowDetail.genre}}</p><br>
<p><b>rating: </b>{{tvShowDetail.rating}}</p><br>
<p><b>Country: </b>{{tvShowDetail.country}}</p><br>
<p><b>Official Site:</b>{{tvShowDetail.officialSite}}</p><br>
<p><b>summary: </b>{{tvShowDetail.description}} </p>

</div>
</div>
